    <%- include('partials/header.ejs') %>
        <h1>Welcome to the Solar System Site!</h1>
        <h3>Click on a planet to know more about it: </h3>
        
         <nav>
            <a href="/mercury"> Mercury </a>
            <a href="/venus"> Venus </a>
            <a href="/earth"> Earth </a>
            <a href="/mars"> Mars </a>
            <a href="/jupiter"> Jupiter </a>
            <a href="/saturn"> Saturn </a>
            <a href="/uranus"> Uranus </a>
            <a href="/neptune"> Neptune </a>
        </nav>
        <img src="/img/earth.jpg" alt="Mars" />

        <p> Welcome to Earth!</p>
        <div> Fun Facts about Earth</div>
        <ul>
            <li> The Earth’s rotation is gradually slowing.</li>
            <li> Earth has a powerful magnetic field.</li>
            <li> The Earth is the densest planet in the Solar System.</li>
            <li>The Earth was once believed to be the centre of the universe.</li>
            <li>Earth is the only planet not named after a god.</li>
            <li>There is only one natural satellite of the planet Earth.</li>
        </ul>
    <%- include('partials/footer.ejs') %>