<%- include('partials/header.ejs') %>
        <h1>Welcome to the Solar System Site!</h1>
        <h3>Click on a planet to know more about it: </h3>
        
         <nav>
            <a href="/mercury"> Mercury </a>
            <a href="/venus"> Venus </a>
            <a href="/earth"> Earth </a>
            <a href="/mars"> Mars </a>
            <a href="/jupiter"> Jupiter </a>
            <a href="/saturn"> Saturn </a>
            <a href="/uranus"> Uranus </a>
            <a href="/neptune"> Neptune </a>
        </nav>
        <img src="/img/jupiter.jpg" alt="Jupiter" />

        <p> Welcome to Jupiter</p>
        <div> Fun Facts about Jupiter</div>
        <ul>
            <li> Jupiter cannot become a star because it doesn't have enough mass to trigger a fusion reaction in its core.</li>
            <li> Jupiter Is The Fastest Spinning Planet In The Solar System</li>
            <li> Jupiter’s Magnetic Field Is 14 Times Stronger Than Earth’s</li>
            <li>Jupiter is the fourth brightest object in the solar system.</li>
            <li>Jupiter has the shortest day of all the planets.</li>
            <li>Jupiter has unique cloud features.</li>
            <li>The Great Red Spot is a huge storm on Jupiter.</li>
        </ul>
   <%- include('partials/footer.ejs') %>