  <%- include('partials/header.ejs') %>
        <h1>Welcome to the Solar System Site!</h1>
        <h3>Click on a planet to know more about it: </h3>
        
         <nav>
            <a href="/mercury"> Mercury </a>
            <a href="/venus"> Venus </a>
            <a href="/earth"> Earth </a>
            <a href="/mars"> Mars </a>
            <a href="/jupiter"> Jupiter </a>
            <a href="/saturn"> Saturn </a>
            <a href="/uranus"> Uranus </a>
            <a href="/neptune"> Neptune </a>
        </nav>
        <img src="/img/mars.jpg" alt="Mars" />

        <p> Welcome to Mars!</p>
        <div> Fun Facts about Mars</div>
        <ul>
            <li> Mars is also known as the ‘Red Planet’ because it’s red!</li>
            <li> It can get pretty cold on Mars –– much colder than our own planet, since it’s further away from the sun.</li>
            <li> You could jump around three times higher on Mars than you can on Earth.</li>
            <li>Mars and Earth have approximately the same landmass.</li>
            <li>Mars is home to the tallest mountain in the solar system.</li>
            <li>Pieces of Mars have fallen to Earth.</li>
            <lil>Sunsets on Mars are blue.</lil>
            <li>On Mars the Sun appears about half the size as it does on Earth.</li>
        </ul>
     <%- include('partials/footer.ejs') %>