    <%- include('partials/header.ejs') %>

        <h1>Welcome to the Solar System Site!</h1>
        <h3>Click on a planet to know more about it: </h3>
        
         <nav>
            <a href="/mercury"> Mercury </a>
            <a href="/venus"> Venus </a>
            <a href="/earth"> Earth </a>
            <a href="/mars"> Mars </a>
            <a href="/jupiter"> Jupiter </a>
            <a href="/saturn"> Saturn </a>
            <a href="/uranus"> Uranus </a>
            <a href="/neptune"> Neptune </a>
        </nav>
        <img src="/img/neptune.jpg" alt="Neptune" />

        <p> Welcome to Neptune</p>
        <div> Fun Facts about Neptune</div>
        <ul>
            <li> Neptune is the most distant planet from the Sun.</li>
            <li> Neptune is the smallest gas giant.</li>
            <li> Neptune has 14 moons.</li>
            <li>Neptune has 6 faint rings.</li>
            <li>Neptune spins on its axis very rapidly.</li>
            <li>Neptune has a very active climate.</li>
            <li>The atmosphere of Neptune is made of hydrogen and helium, with some methane.</li>
            <li>Only one spacecraft has flown by Neptune.</li>
        </ul>
       <%- include('partials/footer.ejs') %>