    <%- include('partials/header.ejs') %>

        <h1>Welcome to the Solar System Site!</h1>
        <h3>Click on a planet to know more about it: </h3>
        
         <nav>
            <a href="/mercury"> Mercury </a>
            <a href="/venus"> Venus </a>
            <a href="/earth"> Earth </a>
            <a href="/mars"> Mars </a>
            <a href="/jupiter"> Jupiter </a>
            <a href="/saturn"> Saturn </a>
            <a href="/uranus"> Uranus </a>
            <a href="/neptune"> Neptune </a>
        </nav>
        <img src="/img/saturn.jpg" alt="Saturn" />

        <p> Welcome to Saturn</p>
        <div> Fun Facts about Saturn</div>
        <ul>
            <li> Saturn is the most distant planet that can be seen with the naked eye.</li>
            <li> Saturn is the flattest planet.</li>
            <li> Saturn has more moons than any other planet.</li>
            <li> Saturn was known to the ancients, including the Babylonians and Far Eastern observers.</li>
            <li> Saturn is made mostly of hydrogen.</li>
            <li> Saturn has the most extensive rings in the solar system. </li>
            <li> Saturn has 150 moons and smaller moonlets.</li>
            <li> Four spacecraft have visited Saturn.</li>
            <li>Saturn orbits the Sun once every 29.4 Earth years.</li>
        </ul>
    <%- include('partials/footer.ejs') %>