    <%- include('partials/header.ejs') %>

        <h1>Welcome to the Solar System Site!</h1>
        <h3>Click on a planet to know more about it: </h3>
        
         <nav>
            <a href="/mercury"> Mercury </a>
            <a href="/venus"> Venus </a>
            <a href="/earth"> Earth </a>
            <a href="/mars"> Mars </a>
            <a href="/jupiter"> Jupiter </a>
            <a href="/saturn"> Saturn </a>
            <a href="/uranus"> Uranus </a>
            <a href="/neptune"> Neptune </a>
        </nav>
        <img src="/img/uranus.jpg" alt="Uranus" />

        <p> Welcome to Uranus</p>
        <div> Fun Facts about Uranus</div>
        <ul>
            <li> Uranus is often referred to as an “ice giant” planet</li>
            <li> Uranus hits the coldest temperatures of any planet</li>
            <li> Uranus makes one trip around the Sun every 84 Earth years.</li>
            <li>Uranus was officially discovered by Sir William Herschel in 1781.</li>
            <li>Uranus turns on its axis once every 17 hours, 14 minutes.</li>
            <li>Uranus has two sets of very thin dark coloured rings.</li>
            <li>Uranus’ moons are named after characters created by William Shakespeare and Alexander Pope.</li>
            <li>Only one spacecraft has flown by Uranus.</li>
        </ul>
    <%- include('partials/footer.ejs') %>