    <%- include('partials/header.ejs') %>

        <h1>Welcome to the Solar System Site!</h1>
        <h3>Click on a planet to know more about it: </h3>
        
         <nav>
            <a href="/mercury"> Mercury </a>
            <a href="/venus"> Venus </a>
            <a href="/earth"> Earth </a>
            <a href="/mars"> Mars </a>
            <a href="/jupiter"> Jupiter </a>
            <a href="/saturn"> Saturn </a>
            <a href="/uranus"> Uranus </a>
            <a href="/neptune"> Neptune </a>
        </nav>
        <img src="/img/venus.jpg" alt="Venus" />

        <p> Welcome to Venus!</p>
        <div> Fun Facts about Venus</div>
        <ul>
            <li> Mercury is the smallest planet in our solar system</li>
            <li> Mercury is the closest to the sun</li>
            <li> Venus is the fastest planet, zipping around the Sun every 88 Earth days</li>
            <li>Venus does not have any moons or rings.</li>
            <li>Venus is nearly as big as the Earth with a diameter of 12,104 km.</li>
            <li>Venus is thought to be made up of a central iron core, rocky mantle and silicate crust.</li>
            <li>A day on the surface of Venus (solar day) would appear to take 117 Earth days.</li>
            <li>A year on Venus takes 225 Earth days.</li>
            <li>The surface temperature on Venus can reach 471 °C.</li>
            <li>A day on Venus lasts longer than a year. </li>
            <li>Venus rotates in the opposite direction to most other planets. </li>
        </ul>
       <%- include('partials/footer.ejs') %>
